#Required, your sqlite db location
DATABASE_URL=local.db

#OAuth Setup

#Most likely 127.0.01:5173 if it's dev (empty is also that), or if you have a domain on prod like pdsmoover.com
#OAUTH_DOMAIN=127.0.01:5173
#Optional
#OAUTH_CLIENT_NAME="SvelteKit template"
#OAUTH_LOGO_URI="url to a picture"
#OAUTH_SCOPES="atproto transition:generic"
#node ./bin/gen-jwk.js and only if you want the confendenial client which gets you longer logins
#OAUTH_JWK=

#DEV set means it will always use the local loop back release
DEV=true

